<h2>Relação de Alunos por Turma</h2>
<hr>
{{#if results}}
<div class="card mt-4">
    <div class="card-body table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Turma:</th>
                    <th scope="col">Total de Alunos</th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}
                    <tr>
                        <th scope="row">{{#json _id}}{{/json}}</th>
                        <td>{{total}}</td>
                    </tr>
                {{else}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{else}}
<h4 class="mt-3">Nenhum dado encontrado</h4>
{{/if}}