<div class="card">
    <div class="card-body">
        <div class="row">
            <h5>Desenvolvimento de um sistema para otimizar o cadastro e classificação de alunos com base em sua fase de escrita</h5>
        </div>
        <hr>
            <p style="text-align: justify;">
                Com o presente trabalho pretende-se desenvolver uma aplicação web que possa auxiliar na classificação de alunos de uma escola pública baseado em seu nível de escrita. O local foi escolhido devido à facilidade de contato com a escola, por já existir um projeto em andamento e porque, aparentemente, o projeto pode ser desenvolvido no prazo proposto. Pretende-se criar um de site web utilizando HTML, CSS, React JS, Node JS, MongoDB entre outras tecnologias como proposta de solução para o problema detectado através de interação com a comunidade.
            </p>
        <div class="row">
            <h4>Alunos responsáveis</h4>
            <p class="text-sm-left">Caio Tadeu de Souza Paschoal, 2006523</p>
            <p class="text-sm-left">Fernando Pinheiro Serra, 2004913</p>
            <p class="text-sm-left">Kerilen Cristina Vieira Serra, 2005093</p>
            <p class="text-sm-left">Marcel Guilherme de Oliveira Nischida, 1814944</p>
            <p class="text-sm-left">Nathalia de Moraes Biancardi, 1825134</p>
            <p class="text-sm-left">Rubens Ribeiro Campos, 2013234</p>
            <p class="text-sm-left">Sérgio Hiroshi Sato, 1902254</p>
        </div>
    </div>
</div>